<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="../static/css/register.css">
     
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

   <title>Regisration</title>
</head>
<body>
    
    <div class="container">
        <header>Registration</header>

        <form action="#">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Station Details</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Station Name</label>
                            <input type="text" placeholder="Enter the station name" required>
                        </div>

                        <div class="input-field">
                            <label>Date of Establishment</label>
                            <input type="date" placeholder="Enter Date of Establishment" required>
                        </div>

                        <div class="input-field">
                            <label>Email</label>
                            <input type="text" placeholder="Enter your email" required>
                        </div>

                        <div class="input-field">
                            <label>Mobile Number</label>
                            <input type="number" placeholder="Enter mobile number" required>
                        </div>

                        <div class="input-field">
                            <label>Charging Connector Types</label>
                            <input type="text" placeholder="connector types" required>
                        </div>

                        <div class="input-field">
                            <label>Number of Charging Points</label>
                            <input type="number" placeholder="Enter number of charging points" required>
                        </div>
                    </div>
                </div>

                <div class="details ID">
                    <span class="title">Identity Details</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>License/Permit ID</label>
                            <input type="text" placeholder="Enter ID type" required>
                        </div>

                        <div class="input-field">
                            <label>ID Number</label>
                            <input type="number" placeholder="Enter station's license number" required>
                        </div>

                        <div class="input-field">
                            <label>Issued Authority</label>
                            <input type="text" placeholder="Enter issued authority" required>
                        </div>

                        <div class="input-field">
                            <label>Issued State</label>
                            <input type="text" placeholder="Enter issued state" required>
                        </div>

                        <div class="input-field">
                            <label>Issued Date</label>
                            <input type="date" placeholder="Enter your issued date" required>
                        </div>

                        <div class="input-field">
                            <label>Expiry Date</label>
                            <input type="date" placeholder="Enter expiry date" required>
                        </div>
                    </div>

                    <button class="nextBtn">
                        <span class="btnText">Submit</span>
                        <i class="uil uil-navigator"></i>
                    </button>
                </div> 
            </div>

            <div class="form second">
                <div class="details address">
                    <span class="title">Address Details</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Station Address Type</label>
                            <input type="text" placeholder="Permanent or Temporary" required>
                        </div>

                        <div class="input-field">
                            <label>City</label>
                            <input type="text" placeholder="Enter city" required>
                        </div>

                        <div class="input-field">
                            <label>State</label>
                            <input type="text" placeholder="Enter state" required>
                        </div>

                        <div class="input-field">
                            <label>District</label>
                            <input type="text" placeholder="Enter district" required>
                        </div>

                        <div class="input-field">
                            <label>ZIP/Postal Code</label>
                            <input type="number" placeholder="ZIP or postal code" required>
                        </div>

                        <div class="input-field">
                            <label>Location url</label>
                            <input type="url" placeholder="Enter Map Link" required>
                        </div>
                    </div>
                </div>

                <div class="details family">
                    <span class="title">Station Information</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Description</label>
                            <input type="text" placeholder="Enter station description" required>
                        </div>

                        <div class="input-field">
                            <label>Payment Methods</label>
                            <input type="text" placeholder="Enter accepted payment methods" required>
                        </div>

                        <div class="input-field">
                            <label>Accessibility Features</label>
                            <input type="text" placeholder="Enter accessibility features" required>
                        </div>

                        <div class="input-field">
                            <label>Status</label>
                            <input type="text" placeholder="operational, under maintenance" required>
                        </div>

                        <div class="input-field">
                            <label>Upload Photo of the station</label>
                            <input type="file"  placeholder="Upload photos of the station" required accept="image/">
                        </div>

                        <div class="input-field">
                            <label>Special Instructions</label>
                            <input type="text" placeholder="Enter any special instructions">
                        </div>
                    </div>

                    <div class="buttons">
                        <div class="backBtn">
                            <i class="uil uil-navigator"></i>
                            <span class="btnText">Back</span>
                        </div>
                        
                        <button class="sumbit">
                            <span class="btnText">Submit</span>
                            <i class="uil uil-navigator"></i>
                        </button>
                    </div>
                </div> 
            </div>
        </form>
    </div>
    

    <script src="../js/register.js"></script>
</body>
</html>
